# Linux (XAMPP) - pakai socket
DB_SOCKET=/opt/lampp/var/mysql/mysql.sock
DB_NAME=DB_NAME # Edit  sesuai dengan nama database kamu
DB_USER=root
DB_PASS=

# Windows (XAMPP) - pakai host, comment socket di atas
# DB_SOCKET=
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_NAME=batik_store # Edit sesuai dengan nama database kamu
# DB_USER=root
# DB_PASS=
